<div class="main" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <img mat-card-image src="{{user.image}}">
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon>person</mat-icon>
          Username: <span> {{user.username}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>email</mat-icon>
          Email: <span> {{user.email}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>location_on</mat-icon>
          Location: <span> {{user.city}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>wc</mat-icon>
          Gender: <span> {{user.gender}}</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>date_range</mat-icon>
          Birth Date: <span> {{user.birthDate | date: 'dd MMM, yyyy'}}</span></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/profile/{{user._id}}/edit">Edit</button>
    </mat-card-actions>
  </mat-card>

</div>
