.example-card {
  max-width: 400px;
}

.main {
  padding: 100px;
}

mat-list mat-list-item span {
  color: dimgrey;
  float: right;
  font-style: italic;
}

button {
  float: right;
}

img {
  width: 400px;
  height: 350px;
}
