<div [class.example-is-mobile]="mobileQuery.matches" class="example-container">
  <app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
                         class="example-sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 fixedTopGap="70" position="end">

      <app-sidenav (sidenavToggle)="sidenav.toggle()" *ngIf="authService.isAuthenticated()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
