<main>
    <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-3 shape-dark">
            <span class="span-150"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
        </div>

        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section section-lg pt-lg-0 mt--300">
        <div class="container mt--150">

            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0 pt-3">
                        <div class="card-body px-lg-5 py-lg-3">

                            <div class="text-center text-muted mb-4">
                                <small>Already have an account? <a [routerLink]="['/user/login']">Login</a></small>
                            </div>
                            <form [formGroup]="registerForm" (ngSubmit)="register()">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                                        </div>
                                        <input id="username" formControlName="username"
                                               class="form-control" placeholder="Username"
                                               type="text">
                                    </div>
                                    <div class="invalid-feedback" style="display: block">
                                        <ng-container
                                                *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
                                            Username is required!
                                        </ng-container>
                                        <ng-container
                                                *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('minlength')">
                                            Username must be at least 4 characters!
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input id="email" formControlName="email" class="form-control"
                                               placeholder="Email" type="email">
                                    </div>
                                    <div class="invalid-feedback" style="display: block">
                                        <ng-container
                                                *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
                                            Email is required!
                                        </ng-container>
                                        <ng-container
                                                *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">
                                            Enter a valid email!
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input id="password" formControlName="password" class="form-control"
                                               placeholder="Password" type="password">
                                    </div>
                                    <div class="invalid-feedback" style="display: block">
                                        <ng-container
                                                *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                                            Password is required!
                                        </ng-container>
                                        <ng-container
                                                *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('minlength')">
                                            Password must be at least 6 characters!
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <app-file-upload formControlName="image" id="image"
                                                     [progress]="progress"></app-file-upload>
                                    <div class="invalid-feedback" style="display: block">
                                        <ng-container
                                                *ngIf="registerForm.get('image').touched && registerForm.get('image').hasError('required')">
                                            Image is required!
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="text-muted font-italic">
                                    <small>password strength:
                                        <span class="text-success font-weight-700">strong</span>
                                    </small>
                                </div>
                                <div>

                                </div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister"
                                                   type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                        <span>I agree with the
                          <a href="javascript:void(0)">Privacy Policy</a>
                        </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button [disabled]="registerForm.invalid" type="submit"
                                            class="btn btn-default mt-4">Create
                                        account
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
