<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
            <img src="./assets/img/brand/logo.png">
        </a>
        <div class="navbar-nav navbar-collapse row">
            <div class="input-group input-group-sm col-sm-7 ">
                <input class="form-control" placeholder="Search..." type="text">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-neutral btn-sm">
                        <i class="fa fa-lg fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block" *ngIf="authService.isAuthenticated()">
            <a ngbDropdownToggle href="javascript:void(0)" class="btn btn-link text-white">Uncensored</a>
            <div ngbDropdownMenu class="dropdown-menu-inverse">
                <a ngbDropdownItem [routerLink]="['/upload']">
                    <span class="dropdown-item">Upload</span>
                </a>
                <a ngbDropdownItem [routerLink]="['/user/profile']">
                    <span class="dropdown-item">Profile</span>
                </a>
                <a ngbDropdownItem (click)="authService.logout()">
                    <span class="dropdown-item">Logout</span>
                </a>
            </div>
        </div>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto" *ngIf="authService.isAuthenticated() === false">
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/user/register']">
                    <span class="nav-link-inner--text">Register</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/user/login']">
                    <span class="nav-link-inner--text">Login</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
