<nav id="navbar-main"
     class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
    <div class="container">
        <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
            <img src="./assets/img/brand/logo.png">
        </a>
            <div class="navbar-nav navbar-collapse row">
                <form class="form-group col-sm-7 mb-0" [formGroup]="searchForm" (ngSubmit)="searchSubmit()">
                <div class="input-group input-group-sm  ">
                    <input (keydown.enter)="searchSubmit()" formControlName="query" class="form-control" placeholder="Search..." type="text">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-neutral btn-sm">
                            <i class="fa fa-lg fa-search"></i>
                        </button>
                    </div>
                </div>
                </form>
            </div>
        <div ngbDropdown class="d-inline-block" *ngIf="(authService.isAuthenticated()) as user">
            <a ngbDropdownToggle href="javascript:void(0)" class="btn btn-link text-white">{{user.username}}</a>
            <div ngbDropdownMenu class="dropdown-menu-inverse">
                <a ngbDropdownItem [routerLink]="['/upload' ]">
                    <span class="dropdown-item"><i class="ni ni-cloud-upload-96"></i>Upload</span>
                </a>
                <a ngbDropdownItem [routerLink]="['/user/profile', user.username.toLowerCase()]">
                    <span class="dropdown-item"><i class="ni ni-circle-08"></i>Profile</span>
                </a>
                <a ngbDropdownItem (click)="authService.logout()">
                    <span class="dropdown-item"><i class="fa fa-sign-out"></i>Logout</span>
                </a>
            </div>
        </div>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto" *ngIf="authService.isAuthenticated() === false">
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/user/register']">
                    <span class="nav-link-inner--text"><i class="fa fa-user-plus"></i>Register</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/user/login']">
                    <span class="nav-link-inner--text"><i class="fa fa-sign-in"></i>Login</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
