<div class="post post-content">
    <form id="commentForm" method="post" action="#/add/comment">
        <input type="hidden" value="{{post._id}}" name="postId">
        <label>Comment</label>
        <textarea name="content" type="text"></textarea>
        <input type="submit" value="Add Comment" id="btnPostComment">
    </form>
</div>