{{>header}}
<div class="content">
    {{>navigation}}
    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>
        {{#each posts}}
            {{> myPosts}}
        {{else}}
            <p>No posts in database.</p>
        {{/each}}
    </section>
</div>
{{>footer}}