<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-3 shape-dark">
            <span class="span-150"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section mt--150">
        <div class="container-fluid mt--300">
            <div class="row">
                <div class="col-md-9">
                    <div class="card ">
                        <div class="card-img-top">
                            <mat-video #videoplayer src="{{video.videoUrl}}" [keyboard]="false"
                                       poster="{{video.thumbnailUrl}}"></mat-video>
                        </div>
                        <div class="card-body py-0">
                            <div class="row">
                                <h1 class="display-4 text-right mb-0">{{video.title}}</h1>
                            </div>
                            <div class="row ">
                                <div class="col-md-10 px-0">
                                    <h5 class="text-black-50 mt-2">
                                        <i class="fa fa-play-circle"></i> {{video.views}} views
                                    </h5>
                                </div>
                                <div class="col-md-2 px-1 text-right ">
                                    <button [disabled]="this.checkIfVoted$ | async" (click)="like()"
                                            class="btn  btn-link  text-primary">
                                        <i class="fa far fa-thumbs-up"></i>
                                        {{rate.likes}}
                                    </button>
                                    <button [disabled]="this.checkIfVoted$ | async" (click)="dislike()"
                                            class="btn  btn-link   text-danger ">
                                        <i class="fa far fa-thumbs-down"></i>
                                        {{rate.dislikes}}
                                    </button>

                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-4 pl-0 pr-1 mx-auto">
                                    <a [routerLink]="['/user/profile', video.authorUsername.toLowerCase()]">
                                        <img src="{{video.authorImageUrl}}"
                                             class="img-fluid rounded-circle  shadow-lg mt-1 float-left mr-2" alt=""
                                             width="75">
                                    </a>
                                    <div class="row">
                                        <a [routerLink]="['/user/profile', video.authorUsername.toLowerCase()]">
                                            <p class="font-weight-bold mb-0">{{video.authorUsername}}</p>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <p class="small font-italic text-black-50 mb-1">Uploaded
                                            on {{video.createdOn | date: 'dd MMMM, yyyy'}}</p>
                                    </div>
                                    <div class="row"
                                         *ngIf="authService.isAdmin || authService.isAuthenticated().username === video.authorUsername">
                                        <button (click)="open(modal)" class="btn btn-sm">Delete video</button>
                                    </div>
                                </div>
                                <div class="col-8 text-right pt-50">
                                    <p class="font-weight-bold">Category: <span><a
                                            [routerLink]="['/category', video.categoryName.toLowerCase()]">{{video.categoryName}}</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white">
                            <app-comments-section></app-comments-section>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="(getVideoById$ | async) as video">
                    <app-related-section [categoryId]="video.categoryId"
                                         [videoId]="video.id"></app-related-section>
                </div>
            </div>
        </div>

    </section>
</main>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="heading-title" id="modal-title-default">Deletion confirmation</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="lead">Are you sure you want to delete <strong>{{video.title}}</strong>?</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-group btn-danger" (click)="deleteVideo(c)">Delete</button>
            <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c()">No
            </button>
        </div>
    </div>
</ng-template>
