<div class="container-fluid">
    <!--  <div class="card">-->
    <!--    <div class="card-body">-->
    <div class="section pt-0">
        <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
        <button type="button" class="btn btn-default pull-right mt-md-3">Post</button>
    </div>
    <div class="row">
        <div class="col-md-1">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img-fluid rounded mt-4"/>
        </div>
        <div class="col-md-11">
            <p>
                <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                    Akash</strong></a>
            </p>
            <div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
            <p class="text-muted text-right">15 Minutes Ago</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img-fluid rounded mt-4"/>
        </div>
        <div class="col-md-11">
            <p>
                <a class="float-left" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman
                    Akash</strong></a>
            </p>
            <div class="clearfix"></div>
            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
            <p class="text-muted text-right">15 Minutes Ago</p>
        </div>
    </div>
</div>

<!--  </div>-->
<!--</div>-->
