<mat-nav-list>
  <div>
    <a mat-list-item routerLink="/profile/{{userId}}/view">
      <mat-icon>account_circle</mat-icon>
      Profile</a>
    <a mat-list-item routerLink="/match">
      <mat-icon>home</mat-icon>
      Home</a>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>favorite</mat-icon>
            Matches
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a *ngFor="let partner of partners" mat-list-item
           routerLink="/match/{{matchId}}/partner/{{partner._id}}">
          {{partner.username}}</a>
      </mat-expansion-panel>
    </mat-accordion>
    <a *ngIf="authService.isAdmin()" mat-list-item routerLink="/profile/list">
      <mat-icon>settings</mat-icon>
      Admin Panel</a>
    <a (click)="logout()" class="logout-link" mat-list-item>
      <mat-icon>eject</mat-icon>
      Logout
    </a>
  </div>
</mat-nav-list>
