<a [routerLink]="['/watch/' + video.id]" >
  <div class="card shadow-lg" placement="auto" ngbTooltip="{{video.title}}">
    <img class="img-fluid rounded shadow" src="{{video.thumbnailUrl}}" alt="{{video.title}}">
    <div class="card-body py-0"  >
      <div class="row justify-content-center">
        <h3 class="display-4 text-center mb-0">{{shortenTitle}}</h3>
      </div>
      <div class="row py-0 justify-content-center">
        <div class="col-md-6 px-0">
          <p class="text-black-50 font-weight-bold  mb-0 text-center">
            <i class="fa fa-user-circle"></i> {{video.authorUsername}}
          </p>
        </div>
        <div class="col-md-6 px-0">
          <p class="text-black-50 font-weight-bold mb-0 text-center">
            <i class="fa fa-play-circle"></i> {{video.views | number}} views
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
