<nav>
    {{#if isAuth}}
        <a class="active" href="#/home">Home</a>
        <a href="#/listing">All Listings</a>
        <a href="#/my/listing">My Listings</a>
        <a href="#/create/listing">Create Listing</a>
        <div id="profile">
            <a>Welcome {{username}}</a>
            <a href="#/logout">logout</a>
        </div>
    {{else}}
        <a class="active" href="#/home">Home</a>
    {{/if}}

</nav>
