<main class="profile-page">
    <section class="section section-lg section-hero section-shaped">
        <!-- Background circles -->
        <div class="shape shape-style-3 shape-dark">
            <span class="span-150"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
        </div>

        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section section-lg pt-lg-0 mt--300">
        <div class="container mt--150">
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="  mb-4">
                                    <h3 class="display-4 mb-0">Upload Video</h3>
                                </div>
                                <form role="form">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-book-bookmark"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Title" type="text">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-folder-17"></i></span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input pl-0" id="customFile">
                                                <label class="custom-file-label pl-0" for="customFile">Choose
                                                    Video</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-books"></i></span>
                                            </div>
                                            <select class="custom-select pl-0">
                                                <option class="form-opp" selected>Select Category</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-muted text-center  font-italic">
                                        <small>Allowed video formats: mp4, avi.
                                        </small>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-default mt-4">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
