<div class="container-fluid"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="400"
     (scrolled)="getComments()"
>
    <div class="section pt-0">
        <form [formGroup]="addCommentForm" (ngSubmit)="submitForm()">
            <textarea (keydown.enter)="submitForm()" formControlName="content"
                      class="form-control" placeholder="Write a comment..." rows="3"></textarea>
            <button [disabled]="addCommentForm.invalid" type="submit" class="btn btn-default pull-right mt-md-3">Post
            </button>
        </form>

    </div>
    <div class="row" *ngFor="let comment of comments">
        <div class="col-lg-1">
            <a [routerLink]="['/user/profile', comment.authorUsername.toLowerCase()]">
                <img src="{{comment.authorImageUrl}}" width="75" class="img-fluid rounded-circle mt-4"/>
            </a>
        </div>
        <div class="col-lg-11">
            <p class="mt-3">
                <a class="float-left"
                   [routerLink]="['/user/profile', comment.authorUsername.toLowerCase()]"><strong>{{comment.authorUsername}}</strong></a>
            </p>
            <div class="float-right" *ngIf="authService.isAdmin || authService.isAuthenticated().username === comment.authorUsername">
                <button class="btn btn-link text-default" (click)="deleteComment(comment)" ><i class="fa fas fa-trash "></i></button>
            </div>
            <div class="clearfix"></div>
            <p>{{comment.content}}</p>
            <p class="text-muted text-right">{{comment.createdOn | dateAgo}}</p>
        </div>
    </div>
</div>
